<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>userManage</display-name>
    <servlet-name>userManage</servlet-name>
    <servlet-class>controlador.userManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userManage</servlet-name>
    <url-pattern>/userManage</url-pattern>
  </servlet-mapping>
  <display-name>proyectoAbril</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>contactoControlador</display-name>
    <servlet-name>contactoControlador</servlet-name>
    <servlet-class>controlador.contactoControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contactoControlador</servlet-name>
    <url-pattern>/contactoControlador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modificaUser</display-name>
    <servlet-name>modificaUser</servlet-name>
    <servlet-class>controlador.modificaUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modificaUser</servlet-name>
    <url-pattern>/modificaUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>probandoSesion</display-name>
    <servlet-name>probandoSesion</servlet-name>
    <servlet-class>controlador.probandoSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>probandoSesion</servlet-name>
    <url-pattern>/probandoSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>controlador.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>svUserProfile</display-name>
    <servlet-name>svUserProfile</servlet-name>
    <servlet-class>controlador.svUserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>svUserProfile</servlet-name>
    <url-pattern>/svUserProfile</url-pattern>
  </servlet-mapping>
</web-app>