#creadorEspacio form{
    margin:0px 10px;
}

.saveSpace{
	margin-top:20px;
}



.vistasEspacios{
    
    margin-top:20px;
}

#icnEspacio{
    border: 1px solid black;
    width: 40px;
    height: 40px;
    
}