.espacioListas, .alergias{
    display: none;
}

.contenedorIzq{
    width: 20%;
    border: 1px solid black;
}


#fotoUser{
    padding: 20px 30px;
}

.imgUsuario img{
    display: flex;
   
}

#formProfile label{
    font-size: 12px;
}

#descripcionPerfil{
    /*resize none para no poder modificar el área del textarea y desconfigurar la página*/
    resize: none;
}